* {
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}
#top-btn {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-image: url("../images/up.png");
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 30px;
  width: 60px;
  height: 60px;
  border: #818181 1px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.6s;
}
#top-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  padding: 35px;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: "Alegreya", serif; */
  font-family: "B612", sans-serif;
  /* -webkit-overflow-scrolling: touch; */
  -webkit-font-smoothing: antialiased;
  /* cursor: url('some-cursor.ico'), default; */
}
.bg {
  background-color: rgba(17, 17, 17, 0);
}
.close {
  visibility: hidden;
}
.column {
  float: left;
  width: 33.3%;
  padding: 0px 10px 20px 10px;
}
.card {
  cursor: pointer;
  border: #818181 1px;
  border-radius: 23px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: 0.4s;
}
.card a {
  /* display: none; */

  visibility: hidden;
}
.card:hover {
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}
.card:hover a {
  /* display: block; */
  visibility: visible;
  color: red;
}
.row {
  margin: 0px 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 140px;
}
.row p {
  color: #818181;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
nav.navbar {
  height: 100px;
}
.nav-brand {
  font-size: 170%;
  color: white;
}
#navanim {
  background-color: rgba(30, 39, 46, 0);
  padding: 40px 60px 20px 50px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
a:hover {
  text-decoration: none;
  color: #818181;
}

#cover-text {
  position: relative;
  top: 50%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  transition: 0.8s;
}

.main-parallax {
  background-image: url("https://habrastorage.org/webt/pc/yj/0u/pcyj0uly_sdna63fl0kcwhb2fk4.png");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.portfolio-parallax {
  background-image: url("https://futureoflife.org/wp-content/uploads/2017/08/portfolio-AI-safety-research-1030x562.jpg?x60419");
  height: 17%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.resume-parallax {
  background-image: url("https://backgrounddownload.com/wp-content/uploads/2018/09/dark-gears-background-8.jpg");
  height: 17%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#prologue {
  background: #1e272e;
  /* clip-path: polygon(0 100%, 0% 0%, 100% 100%); */
}
#prologue h2 {
  color: white;
  text-align: center;
  padding: 130px 0 10 0;
  font-weight: bolder;
}
#prologue p {
  color: #f1f1f1;
  text-align: center;
  font-size: 20px;
  padding: 10 0 30 0;
}
.prologue-img {
  width: 80px;
  height: 80px;
  position: relative;
  align-self: center;
  padding: 2%;
}
.prologue-content {
  background: #f1f1f1;
}
#portfolio {
  background: #1e272e;
  /* clip-path: polygon(100% 0, 0 100%, 100% 100%); */
}

#portfolio h2 {
  color: white;
  text-align: center;
  font-weight: bolder;
  padding: 130px 0 10 0;
}
#portfolio p {
  color: #f1f1f1;
  text-align: center;
  font-size: 20px;
  padding: 10 0 5 0;
}
.website-img {
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 30px 0 35px 0;
}
.website2-img {
  width: 30%;
  height: 25%;
  margin: auto;
}
.portfolio-img {
  width: 30%;
  height: 30%;
  position: relative;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border: #818181 solid 1px;
  padding: 0%;
  border-radius: 20px;
}
.portfolio-content {
  background: #f1f1f1;
  padding: 4% 0 0 0;
}
.portfolio-content h5 {
  padding: 4% 0 0 0;
}

.portfolio-content a {
  text-decoration: none;
  color: #2c3e50;
}
.portfolio-content a:hover {
  color: #818181;
}

.resume-content {
  width: 100%;
  margin: 0;
}
.sidebar {
  position: sticky;
  position: -webkit-sticky;
  width: 250px;
  top: 100px;
  left: 0;
  background: #1e272e;
  float: left;
  padding-bottom: 10%;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidebar a {
  display: block;
  color: #818181;
  padding: 16px 6 0 32;
  font-size: 20px;
}
.sidebar a:hover {
  color: #f1f1f1;
}
#sidebar-menu {
  font-size: 0px;
  cursor: pointer;
  border: 0;
  padding: 0px 5px;
}
.me-img {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0px 0 10 20;
  border: #1e272e solid 1px;
  border-radius: 100px;
}
#resume-main {
  padding: 10px 5px 10px 10px;
  margin-left: 300px;
}
#resume-about {
  padding: 110px 0 30 0;
}
#resume-about h1 {
  font-size: 55px;
  font-weight: bolder;
}
.resume-social {
  position: absolute;
}
.resume-social a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #2c3e50;
  color: white;
  margin: 6 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 24px;
}
.resume-social a:hover {
  background: #111;
}
.resume-social a i {
  transition: 0.4s all;
}
.resume-social a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

#resume-experience {
  padding: 110px 0 30 0;
}
#resume-experience h2 {
  font-weight: bolder;
}
#resume-experience h5 {
  font-weight: bolder;
}
#resume-experience p {
  color: #818181;
}
#resume-education {
  padding: 110px 0 30 0;
}
#resume-education h2 {
  font-weight: bolder;
}
#resume-education h5 {
  font-weight: bolder;
}
#resume-education p {
  color: #818181;
}
#resume-skill {
  padding: 110px 0 30 0;
}
#resume-skill h2 {
  font-weight: bolder;
}
#resume-skill h5 {
  font-weight: bolder;
}
#resume-skill ul {
  padding: 2% 0 0 0;
}
#resume-skill i {
  display: inline-flex;
  width: 60px;
  height: 60px;
  background: #2c3e50;
  color: white;
  margin: 6 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 30px;
}
#resume-skill i:hover {
  background: #111;
}
#resume-skill i {
  transition: 0.4s all;
}
#resume-skill i:hover {
  transform: scale(1.3) rotate(25deg);
}
#resume-interests {
  padding: 110px 0 30 0;
}
#resume-interests h2 {
  font-weight: bolder;
}
#resume-interests p {
  color: #818181;
  padding: 10px 15 10 10;
}
#contacts {
  background-image: url("https://www.govloop.com/wp-content/uploads/2016/05/iStock_000022833138_Full-e1471371968945.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 2% 2% 2% 2%;
}
#contacts h2 {
  padding: 5% 0 0 0%;
  text-align: center;
  color: white;
}
#contacts p {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10 0 30 0;
}

.contacts-social {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -0%);
  padding: 1% 0;
}
.contacts-social a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #2c3e50;
  color: white;
  margin: 6 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 24px;
}
.contacts-social a:hover {
  background: #111;
}
.contacts-social a i {
  transition: 0.4s all;
}
.contacts-social a:hover > i {
  transform: scale(1.6) rotate(25deg);
}
.footer {
  background: #1e272e;
  height: 20%;
}
.footer p {
  position: relative;
  top: 50%;
  color: #818181;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  #top-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  #cover-text {
    position: relative;
    top: 50%;
    color: #f1f1f1;
    font-size: 40px !important;
    font-weight: bolder;
    text-align: center;
    transition: 0.8s;
  }
  .contacts-social {
    position: relative;
    left: 0%;
    transform: translate(0%, 0%);
    margin: 1% 5%;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .close {
    visibility: visible;
  }
  .bg {
    background-color: rgba(17, 17, 17, 1);
    padding: 20px;
  }
  .main-parallax {
    background-attachment: scroll;
  }
  .portfolio-parallax {
    background-attachment: scroll;
  }
  .resume-parallax {
    background-attachment: scroll;
  }
  #navanim {
    padding: 10px 20px 10px 20px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #portfolio {
    margin-left: 0%;
  }
  #portfolio h2 {
    padding: 4% 0;
  }
  .portfolio-img {
    width: 100px;
    height: 100px;
  }
  /* .website-img {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 30px 0 35px 0;
  } */
  .website-img {
    width: 150px;
    height: 100px;
  }
  #resume-main {
    padding: 10px 5px 10px 10px;
    margin-left: 30px;
  }
  #sidebar-menu {
    font-size: 30px;
    cursor: pointer;
    border: #111 solid 2px;
    padding: 0px 5px;
  }
  #mySidenav {
    width: 0;
    /* position: relative; */
  }
}
